<h1>Enter details:</h1>

    <form action="/createCar" method="post">
        <input type="text" name="make" placeholder="Make">
        <input type="text" name="model" placeholder="Model">
        <input type="number" name="pricePerDay" placeholder="Price Per Day in BGN">
        <input type="number" name="year" placeholder="Production Year">
        <input type="text" name="imageUrl" placeholder="Image URL">
        <input type="text" name="horsepower" placeholder="Horsepower">
        <input type="text" name="engine" placeholder="Engine">
        <textarea type="text" name="description" placeholder="Additional info"></textarea>
        <input type="submit" value="Create">
    </form>